p{
    color: black;
    background-color: white;
    font-size: 18px;
    text-align: center;
}
body {
    background-color: rgb(226, 196, 156);
}

h1{
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    text-align: center;
}

h3 {
    margin-top: 0px;
}

ol{
    list-style-type: decimal;
}

ul{
    list-style-type: square
}

#rodape {
    background-color: rgb(226, 196, 156);
    margin-top: 0px;
    padding: 15px;
}

#rodape a{
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
}

#div-rodape {
    align-items: bottom;
}

.navegador{
    color: #666;
    border: 2px solid black;
    border-radius: 3px;
    padding-left: 12px;
    padding-right: 12px;
}
header{
    background-color: rgb(226, 196, 156);
    padding-bottom: 10px;
    padding-top: 10px;
}

nav li{
    text-align: center
}

a:hover{
    color: black;
}
body{
    margin: 0px;
}

img{
    border: 2px solid blue;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    filter: sepia(100%);
    text-align: center;
}

img:hover{
    filter: brightness(50%)
}


#flex {
    display: flex;
    background-color: gray;
    gap: 10px;
    padding-bottom: 10px;
}

#flex-esquerda {
    display: flex;
    padding-left: 3vw;
    gap: 10px;

}

#imagem {
    text-align: left;
    padding: 5px;
}

th{
    border: 1px black solid;
    background-color: rgb(183, 190, 183);
    color: white;
    text-align: center;
    padding: 2px;
}

tr{
    border: 1px solid black;
    background-color: rgb(230, 230, 185);
    text-align: center;
    padding: 2px;
}

#indice {
    padding-left: 3px;
    min-width: 15vw;
    text-align: left;
    background-color: rgb(165, 165, 165);
}

#indice li {
    text-align: left;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
}

#indice a {
    color: black;
    text-decoration: none;
    padding: 1px;
}

#indice a:hover {
    text-decoration: underline;
    color: rgb(226, 196, 156);
}

